.btnPaid {
  background-color: red;
  color: whitesmoke;
  padding: 1%;
  margin-bottom: 0.2%;
  border-radius: 20px;
}

.btnPaid:hover {
  cursor: pointer;
  box-shadow: 0 0 10px red;
}

.btnUnpaid {
  background-color: green;
  color: whitesmoke;
  padding: 1%;
  margin-bottom: 0.2%;
  border-radius: 20px;
}

.btnUnpaid:hover {
  cursor: pointer;
  box-shadow: 0 0 10px green;
}