.page {
  width: 100vw;
  height: 100vh;
}

.containerTable {
  height: 40vh;
  overflow-y: auto;
}

.table {
  width: 80vw;
  padding: 0.8% 2% 2% 2%;
  border-collapse: separate;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 5% auto;
}

.thead th {
  background-color: #353535;
  color: #F5F5F5;
  padding: 1.2%;
  border-radius: 10px 10px 0 0;
  width: 10%;
}

.containerForm {
  width: 90vw;
  margin: 0 auto;
}

.containerIcon {
  right: 2%;
  bottom: 2%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}