.main {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.main::-webkit-scrollbar {
  border-radius: 10px;
  background-color: rgb(216, 216, 216);
}

.main::-webkit-scrollbar-thumb {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #363636;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main .containerDataClient {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}