.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.form {
  display: flex;
  height: min-content;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 2px solid black;
  padding: 2%;
  width: 33vw;
}

.form label {
  display: flex;
  flex-direction: column;
}

.form input, .form select {
  margin-bottom: 5%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
}

.form button {
  padding: 2%;
  background-color: #363636;
  border-radius: 10px;
  border: none;
  color: whitesmoke;
}

.form button:disabled {
  background-color: gray;
}

.form button:enabled:hover {
  cursor: pointer;
  box-shadow: 0 0 10px black;
}

.carSelected {
  color: rgb(8, 190, 20);
}

.carNotSelected {
  color: red;
}


.containerSearch {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerSearch input {
  width: 80%;
  margin-top: 5%;
}

.containerSearch button {
  width: 50%;
}

.btnFilter {
  background-color: #363636;
  background-color: #363636;
  color: whitesmoke;
}

.containerSearch .btnFilter:hover {
  cursor: pointer;
}

.containerSearch input, .containerSearch button {
  padding: 1%;
  border-radius: 10px;
  border: none;
  margin-bottom: 5%;
}

.containerRefreshAndRegisterCar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.containerRefreshAndRegisterCar h5 {
  display: flex;
}

.containerRefreshAndRegisterCar .refresh {
  margin-right: -1px;
}

.btnToogleCar {
  margin-left: 5px;
}

.btnToogleCar:hover {
  cursor: pointer;
  text-decoration: underline;
}

.containerCards {
  display: flex;
  width: 50vw;
  flex-direction: column;
  overflow-y: auto;
  margin: 2% auto;
  align-items: center;
  height: 85vh;
}

.refresh {
  font-size: 40px;
  margin-right: 7%;
  align-self: flex-end;
}

.card {
  width: 90%;
  padding: 4%;
  border: 2px solid black;
  margin-bottom: 2%;
}

.card:hover {
  background-color: whitesmoke;
  font-weight: 700;
  cursor: pointer;
}

