.cardModal {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.cancel {
  align-self: flex-end;
  font-size: 30px;
  margin: 2%;
}

.cancel:hover {
  cursor: pointer;
}

.cardsItens {
  width: 95%;
  overflow-y: auto;
  margin: 2% auto;
}

.cardsItens::-webkit-scrollbar {
  border-radius: 10px;
  background-color: gray;
}

.cardsItens::-webkit-scrollbar-thumb {
  border: 1px solid black;
  border-radius: 50px;
  background-color: #585757;
}

.cardItem {
  margin: 2%;
  padding: 2%;
  border-radius: 12px;
  border: 2px solid black;
}

.cardItem:hover {
  cursor: pointer;
  background-color: white;
}

.containerPriceAndQtd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerPriceAndQtd label {
  display: flex;
  text-align: center;
  margin: 0 2%;
  flex-direction: column;
}

.containerPriceAndQtd input {
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
}

.containerBtn {
  margin-top: 2%;
  text-align: center;
}

.containerBtn button {
  padding: 1%;
  border-radius: 10px;
  border: none;
  background-color: #353535;
  color: whitesmoke;
}

.containerBtn button:hover:enabled {
  cursor: pointer;
  box-shadow: 0 0 10px black;
}

.containerBtn button:disabled {
  background-color: gray;
}

