.containerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: (-50%, -50%);
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.h3 {
  margin: 2% 0 0 2%;
}

.form {
  margin-left: 2%;
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1%;
}

.form label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 2%;
  border-radius: 10px;
  border: 1px solid black;
}

.form button {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  background-color: #363636;
  color: whitesmoke;
}

.form button:disabled {
  background-color: gray;
}

.form button:enabled:hover {
  cursor: pointer;
  box-shadow: 0 0 10px black;
}
