.cardModal {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  align-self: center;
  background-color: #f0f0f0;
  margin: auto;
}

.cancel {
  align-self: flex-end;
  font-size: 30px;
  margin: 2%;
}

.cancel:hover {
  cursor: pointer;
}

.cardsClients {
  width: 95%;
  margin: 2% auto;
  overflow-y: auto;
  padding: 2%;
}

.cardsClients::-webkit-scrollbar {
  border-radius: 10px;
  background-color: gray;
}

.cardsClients::-webkit-scrollbar-thumb {
  border: 1px solid black;
  border-radius: 50px;
  background-color: #585757;
}

.cardClient {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2%;
}

.cardClient:hover {
  cursor: pointer;
  background-color: white;
}