.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E3E6E7;
  overflow: none;
}

.containerTable {
  height: 25vh;
  overflow-y: auto;
}

.containerTable::-webkit-scrollbar {
  border-radius: 10px;
  background-color: rgb(216, 216, 216);
}

.containerTable::-webkit-scrollbar-thumb {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #585757;
}

.table {
  width: 80vw;
  padding: 0.8% 2% 2% 2%;
  border-collapse: separate;
  background-color: #E3E6E7;
  border-radius: 10px;
}

.thead th {
  background-color: #353535;
  color: #F5F5F5;
  padding: 1%;
  border-radius: 10px 10px 0 0;
  width: 10%;
}

.thead .client {
  width: 20%;
}

.containerAddService {
  right: 2%;
  bottom: 2%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}