.containerSearch {
  width: 40vw;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.cancel {
  margin-top: -2%;
  font-size: 30px;
}

.containerSearch label {
  display: flex;
  margin: 2%;
  flex-direction: column;
}

.containerModal {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
  backdrop-filter: blur(5px);
}